/* Variables */
$primary-color: #40e0d0;
$secondary-color: #633a82;
$tertiary-color: #f1fcfc;

.form-container {
  background: whitesmoke;

  #main-form {
    max-width: 1140px;
    display: grid;
    row-gap: 20px;
    padding: 40px 20px;
    width: fit-content;
    margin: 0 auto;
    .input-container {
      .input-label {
        display: block;
      }

      .form-input {
        padding: 5px;
        min-width: 300px;
        width: 30vw;
        height: 25px;
      }

      #body {
        height: 100px;
      }
    }
  }
}

#template-container {
  max-width: 1140px;
  margin: 20px auto;
  padding: 60px;
  background: $secondary-color;
  color: $tertiary-color;
  position: relative;
  z-index: 1;
  .logo {
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
  }

  .img-container {
    .template-image {
      height: 100px;
      width: 100px;
    }
  }
  .template-heading {
    text-transform: uppercase;
    position:relative;
    width:fit-content;
    margin:0 auto;

    &:after{
      content:"";
      position: absolute;
      width:10vw;
      min-width:100px;
      border-bottom:2px solid;
      bottom:-5px;
      left:50%;
      transform:translateX(-50%);
    }
  }
  .template-body {
    text-align: left;
    margin: 60px 0;
  }

  .copyright-text {
    width:fit-content;
    margin:0 auto;
    position: relative;
    background:$secondary-color;
    box-shadow: 0px 0px 0px 8px $secondary-color;

    &:before {
      content: "";
      position: absolute;
      width: 50vw;
      min-width: 300px;
      left: 50%;
      top: 50%;
      transform: translate(-50%);
      border-bottom: 1px solid;
      
      z-index: -1;
    }
  }
}

/* input types */
input[type="text"],
textarea[type="text"],
input[type="file"],
button[type="submit"] {
  &:focus {
    outline-color: $primary-color;
  }
}

.button {
  width: 100px;
  padding: 10px;
  border: 2px solid darken($primary-color, 10%);
  color: darken($primary-color, 10%);
  font-weight: bold;

  transition: background, color 0.15s ease-in;
  cursor: pointer;
  &:hover {
    color: white;
    background: darken($primary-color, 15%);
  }
}
